:root{
  --white: #FFFFFF;
  --hard-white:#EEEEEE;
  --blue: #2196F3;
  --hard-bule: #188CE8;
  --black: #212121;
  --gray: #757575;
  --hard-gray:#2F303A;
  --light-gray:#F5F4FA;
  --lite-gray:#ECECEC;
}






body{

  font-family:'Roboto',sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;




background: var(--white);
}




.container{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
display: flex;
}
 

h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0;}
img {display: block;}


*,
*::before 
*::after{box-sizing:border-box}

/*Портфоліо*/

li{
  list-style-type: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}

.portfolio_hav_about{
color: var(--gray);
}

button{
  border: none;
}

.header_container_portfolio{
  
  border-bottom:  1px solid var(--lite-gray);
  display: flex;
  
  background: var(--white);
  }


.logo_link{
  display: inline-block;
  padding-top: 24px;
padding-bottom: 24px;

  margin: 0px 93px 0px 0px;
 
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
font-size:26px;
line-height: 1.19;

color: var(--black);
 }
 
 .logo-header{
  


   font-family: 'Raleway',sans-serif;
   font-weight: 700;
 font-size: 26px;
 line-height:1.19;
 
 color: var(--blue);
 letter-spacing: 0.03em;
 }
 /*studi*/
 .about_studi{
  





 }

 .about_studi_index{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  
  
  color: var(--black);
  letter-spacing: 0.02em;
 }
 /*portfolio*/
 .about_portfolio{

 
 margin: 0px 0px 0px 50px;


 }
 
 .about_portfolio_index{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  
  color: var(--black);
  letter-spacing: 0.02em;
 }
 /*contacts*/
 .about_contact{

 
margin: 0px 0px 0px 50px;
 

 }

 .about_contact_index{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  
  color: var(--black);
  letter-spacing: 0.02em;
 }
 /*mail*/
 .about_mail{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--gray);
 }


.index_header_mail{
 
  
  margin: 0px 0px 0px 344px;
 
   font-weight: 500;
 font-size: 14px;
 line-height:1.14;
 
 
 
 letter-spacing: 0.02em;
}

 /*tell*/
 .about_tell{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--gray);

 }

 .index_header_tell{

 
  margin: 0px 0px 0px 50px;
 
   font-weight: 500;
   font-size:14px;;
   line-height:1.14;
  
   
   
   letter-spacing: 0.02em;
 }
/*----------------------------------------*/

/*Section*/
.container_portfolio_section{
  width: 1206px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.portfolio_section{
  width: 1890px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 94px;
  padding-bottom: 94px;

}
/*cayboard*/

.keyboard{
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 50px;
}

.about_all{
  padding: 6px 25px 6px 25px;
  
  

  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
line-height:1.6;
text-align: center;


cursor: pointer;
color: var(--black);
background: var(--light-gray);
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about_web_site{
  padding: 6px 22px 6px 22px;
  


  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
line-height:1.6;
text-align: center;

cursor: pointer;
color: var(--black);
background: var(--light-gray);
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about_applications{
  padding: 6px 22px 6px 22px;
  


    
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
line-height:1.6;
text-align: center;

cursor: pointer;
color: var(--black);
background: var(--light-gray);
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about_design{
  padding: 6px 22px 6px 22px;
  

    ;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
line-height:1.6;
text-align: center;

cursor: pointer;
color: var(--black);
background: var(--light-gray);
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about_marketing{
  padding: 6px 22px 6px 22px;
  

  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
line-height:1.6;
text-align: center;

cursor: pointer;
color: var(--black);
background: var(--light-gray);
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------------------------------------------------*/

/*billboard*/
.billboard{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;}

.portfolio_item{
  flex-basis: calc((100% - 30px * 2 ) / 3);
  
  background: var(--white);
  
  
}

.margin_item{
  margin-bottom: 4px;
}


.padding_item{
  
  border-left:1px solid var(--hard-white) ;
  border-bottom:1px solid var(--hard-white) ;
  border-right:1px solid var(--hard-white) ;
}











/*footer*/
.footer_studio{
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  
font-size:26px ;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--white);
}

.logo_footer{
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  
font-size:26px ;
line-height: 1.19;
letter-spacing: 0.03em;
  color: var(--blue);
}

.info_adres{
  font-weight: 400;
  font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;

color: var(--white);
}

.main_about{
  font-weight: 400;
  font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.tell_about{
  font-weight: 400;
  font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
/*--------------------------------------------------*/



/*index*/
/*Верхня лінія*/
.header_container{

display: flex;

background: var(--white);
}

.about_nav{
display: flex;
}


 .index_ul{
  display: flex;
 }

 .index_ull{
margin-left: auto;
display: flex;


 }


 
 


/*bg*/


.container_bg{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

 .bg{
  
  padding-top: 200px;
  padding-bottom: 200px;
  
 

   background: var(--hard-gray);
 }
 
 .index_bisnes{
  width: 696px;
  
 
margin-left: auto;
margin-right: auto;

   font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: var(--white);
 }
 
 .index_btn{
display: block;
margin-top: 30px;

margin-left: auto;
margin-right: auto;

padding: 10px 32px 10px 32px;
 font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height:1.8;

   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--white);
 
   cursor: pointer;
 
 
 
   
   background: var(--blue);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
 }
/*-----------------------------*/


/*НАШІ ОСОБЛИВОСТІ*/ 
 .index_about_hav{
  
 padding-top: 94px;

 
 }

 .visually-hidden{
 
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

 .index_abour_uss{
  display: flex;
  gap: 30px;
 }


 

 

 /*Увага до деталей*/
 .index_details_one{
  width: 270px;


margin-bottom: 10px;
margin-top: auto;
margin-left: auto;
align-items: center;
text-align: left;
 
   font-weight: 700;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.03em;
 
 text-transform: uppercase;
 color: var(--black);
 
 }
 
 .index_description_one{
  width: 270px;



align-items: center;
text-align: left;

   font-weight: 400;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.03em;
 
 
 
 
 color: var(--gray);
 }
 
/*Пунктуальність*/
.index_details_two{
  width: 270px;

margin-top: auto;
margin-right: 30px;
margin-bottom: 10px;
margin-left: 30px;
align-items: center;
text-align: left;


  font-weight: 700;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.03em;
 
 text-transform: uppercase;
 color: var(--black);
}

.index_description_two{
  width: 270px;

margin-top: 10px;
margin-right: 30px;
margin-bottom: 24px;
margin-left: 30px;
align-items: center;
text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  
  
  
  
  color: var(--gray);
}

/*Планування*/
.index_details_three{
  width: 270px;
margin-top: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  align-items: center;
text-align: left;

  font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  
  text-transform: uppercase;
  color: var(--black);
}

.index_description_three{
  width: 270px;
  margin-top: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  align-items: center;
text-align: left;


  font-weight: 400;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  
  
  
  
  color: var(--gray);
}

/*Сучасні технології*/
.index_details_four{
  width: 270px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: 30px;
  align-items: center;
text-align: left;



  font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  
  text-transform: uppercase;
  color: var(--black);
}

.index_description_four{
  width: 270px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: 30px;
  align-items: center;
text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  
  
  
  
  color: var(--gray);
}
/*----------------------*/

/*images*/
.container_images{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.index_about_work{
  width: 1170px;
padding-top: 94px;
padding-bottom: 94px;
padding-right: 15px;
padding-left: 15px;

margin-bottom: 94px;
margin-right: auto;
margin-left: auto; 
}

 .index_hav_one{

text-align: center;


margin-bottom: 50px;
    
      font-weight: 700;
          letter-spacing: 0.03em;
           
      font-size: 36px;
   line-height:42.19px;
   
      color: var(--black);
   }


.index_images{
  display: flex;
  gap: 30px;
}



/*---------------*/


/*Наша команда*/
.index_team{
  

  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--light-gray);}


   .index_hav_two{
    text-align: center;


    font-weight: 700;
    letter-spacing: 0.03em;
   font-size: 36px;
  line-height:42.19px;
  text-align: center;
      color: var(--black);
  }

  .container_team{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
 

  .index_my_team{
    display: flex;
    gap: 30px;
  }



/*IGOR*/
 .index_backgound_white_igor{
    
  background: var(--white);
}

.index_name_igor{
  padding: 10px;

  margin-bottom: 10px;
  letter-spacing: 0.03em;
 
  font-weight: 500;
font-size: 16px;
line-height:1.18;
text-align: center;
color: var(--black);
}

.index_responsibilities_igor{
  
  letter-spacing: 0.03em;
 
  font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;

color: var(--gray);
}
/*-----------------------------*/

/*OLGA*/
.index_backgound_white_olga{
  
  background: var(--white);
}

.index_name_olga{
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
 
  font-weight: 500;
font-size: 16px;
line-height:1.18;
text-align: center;
color: var(--black);
}


.index_responsibilities_olga{
  
  letter-spacing: 0.03em;
 
  font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;

color: var(--gray);
}
/*----------------------------------------*/

/*MIKOLA*/
.index_backgound_white_mikola{
  
  background: var(--white);
}


.index_name_mikola{
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
 
  font-weight: 500;
font-size: 16px;
line-height:1.18;
text-align: center;
color: var(--black);
}

.index_responsibilities_mikola{

letter-spacing: 0.03em;
 
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;

color: var(--gray);
}
/*-------------------------------------------*/

/*MIHAYLO*/
.index_backgound_white_mihaylo{
  
  background-color: var(--white);
}

.index_name_mihaylo{
  padding: 10px;
margin-bottom: 10px; 
font-weight: 500;
font-size: 16px;
line-height:1.18;
text-align: center;
color: var(--black);
}

.index_responsibilities_mihaylo{
  
  letter-spacing: 0.03em;
 
  font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;

color: var(--gray);
}
 
/*------------------------------------------*/

 

 
 /*Footer*/
 .container_footer_div{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 }

 .footer_container{
  

  padding-top: 60px;
  padding-bottom: 60px;
   
   
   
   background:var(--hard-gray);
   }



 .logo_footer{
           
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.footer_studio{
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 20px;
   


  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  }

 
.index_ul_adres{
  margin-top: 20px;
}
 
 
   .tell_about{
     letter-spacing: 0.03em;
 
     font-weight: 400;
 
     font-size: 14px;
     line-height:2;
     
     color: rgba(255, 255, 255, 0.6);
     }
 
     .main_about{
       letter-spacing: 0.03em;
 
       font-weight: 400;
 
       font-size: 14px;
       line-height: 2;
       
       color: rgba(255, 255, 255, 0.6);
       }
 
       .info_adres{

     
      margin-bottom: 9px;
        
         letter-spacing: 0.03em;
 
         font-weight: 400;
 
         font-size: 14px;
         line-height:2;
         
         color: var(--white);
         }
 



 
               

                .main_about_footer{
                 
                  margin-bottom: 9px;
                  

                  letter-spacing: 0.03em;
 
                  font-weight: 400;
            
                  font-size: 14px;
                  line-height: 2;
                  
                  color: rgba(255, 255, 255, 0.6);
                }

                .tell_about_footer{

                  margin-top: 9px;
                  

                  letter-spacing: 0.03em;
 
                  font-weight: 400;
              
                  font-size: 14px;
                  line-height:2;
                  
                  color: rgba(255, 255, 255, 0.6);
                }
/*Ховери*/

  

.index_btn:hover, .index_btn:focus{
  background-color: var(--blue);
  color: var(--white);
  background-color: var(--hard-bule);
}



.about_studi_index:hover, .about_studi_index:focus{
border-color: var(--black);
color: var(--blue);

}

.about_portfolio_index:hover, .about_portfolio_index:focus{
border-color: var(--black);
color: var(--blue);

}

.about_contact_index:hover, .about_contact_index:focus{
border-color: var(--black);
color: var(--blue);

}

.about_mail:hover, .about_mail:focus{
border-color: var(--gray);
color: var(--blue);

}

.about_tell:hover, .about_tell:focus {
border-color: var(--gray);
color: var(--blue);

}

.about_all:hover, .about_all:focus{
  
border-color: var(--black);
background-color: var(--blue) ;
color: var(--white);


}
.about_web_site:hover, .about_web_site:focus{
  border-color: var(--black);
background-color: var(--blue) ;
color: var(--white);

}
.about_applications:hover, .about_applications:focus{
  border-color: var(--black);
  background-color: var(--blue) ;
  color: var(--white);
  
}
.about_design:hover, .about_design:focus{
  border-color: var(--black);
  background-color: var(--blue) ;
  color: var(--white);
  
}
.about_marketing:hover, .about_marketing:focus{
  border-color: var(--black);
  background-color: var(--blue) ;
  color: var(--white);
  
}




.info_adres:hover, .info_adres:focus{
  border-color: var(--black);
  color: var(--blue);
  
}

.main_about:hover, .main_about:focus{
  border-color: var(--black);
  color: var(--blue);
  
}

.tell_about:hover, .tell_about:focus{
  border-color: var(--black);
  color: var(--blue);
  
}

